<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head', {title: 'Creators | Study of Rot'}) %>

<body>
  <%- include('../includes/header') %>

  <main>
    <h2><%= foundCreator.name %></h2>
    <p><%= foundCreator.date %></p>
    <p><%= foundCreator.work %></p>
    <p><%= foundCreator.description %></p>
    
  </main>

</body>
</html>